asgiref==3.7.2
backports.zoneinfo;python_version<"3.9"
dj-database-url==2.1.0
Django==3.2.23
django-cors-headers==3.9.0
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==23.2
phonenumberslite==8.13.25
psycopg2-binary==2.9.9
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.7.1
whitenoise==6.5.0
